body {
  background-color: #0d1117;
}

p {
  color: #8b949e;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

a {
  color: #f0ab02;
  text-decoration: none;
}

a:hover {
  color: #f0ab02;
  text-decoration: underline;
}
